hostname site{{dmvpn_site}}
!
crypto isakmp policy 10
 encr aes 256
 hash sha256
 authentication pre-share
 group 2
crypto isakmp key {{ dmvpn_hub_preshared_key }} address {{ dmvpn_hub_ip }}
!
!
crypto ipsec transform-set {{ dmvpn_transform_set | default('xform')}} esp-aes 256 esp-sha256-hmac
 mode transport
!
!
crypto ipsec profile {{ dmvpn_ipsec_profile | default('ipsec-prof')}}
 set transform-set {{ dmvpn_transform_set | default('xform')}}
!
router ospf 1
 network {{ dmvpn_loopback_network | ipaddr(dmvpn_site)  | ipaddr('address')}} {{ dmvpn_loopback_network | ipaddr('hostmask') }} area 0
 network {{ dmvpn_network.split('/')[0]}} {{dmvpn_network | ipaddr('hostmask')}} area 0
!
interface Loopback{{dmvpn_site}}
 ip address {{ dmvpn_loopback_network | ipaddr(dmvpn_site) | ipaddr('address')}} {{ dmvpn_loopback_network | ipaddr('netmask') }}
!
interface Tunnel{{dmvpn_site}}
 ip address {{ dmvpn_network | ipaddr(dmvpn_site) | ipaddr('address') }} {{ dmvpn_network | ipaddr('netmask') }}
 no ip redirects
 ip mtu 1400
 ip nhrp network-id 1
 ip nhrp nhs {{dmvpn_hub_tunnel_ip}}
 ip nhrp map {{dmvpn_hub_tunnel_ip}} {{ dmvpn_hub_ip }}
 ip nhrp authentication {{ dmvpn_transform_set | default('xform')}}
 ip nhrp map multicast {{  dmvpn_hub_ip }}
 ip ospf network non-broadcast
 ip ospf priority 0
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1
 tunnel mode gre multipoint
 tunnel key 1
 tunnel protection ipsec profile {{ dmvpn_ipsec_profile | default('ipsec-prof')}}
